{% extends 'base.html' %}

{% block content %}
<table border="1" cellpadding="5" width="100%">
    <tr>
        <td colspan="3" align="center">
            <a href="{% url 'temp_form' %}"><b>Make new thread</b></a>
        </td>
    </tr>

    <tr>
        <td width="35" align="right" bgcolor="#d8fda8" ><b>1</b></td>
        <td class="time">time_create</td>
        <td>
            <a href="">dive in</a>
        </td>
    </tr>
    <tr>
        <td width="30%" align="center" colspan="2">
            <img src="/media/threads/images/%D0%93%D0%BB%D0%B0%D0%B7-%D0%A1%D0%B0%D1%85%D0%B0%D1%80%D1%8B-%D0%BF%D1%83%D1%81%D1%82%D1%8B%D0%BD%D1%8F-%D0%9F%D1%80%D0%B8%D1%80%D0%BE%D0%B4%D0%B0-8583019.jpeg"
            width="225">
        </td>
        <td valign="top">
            <h1>Title</h1>
            Text text text text Text
        </td>
    </tr>
</table>
{% endblock %}